/* Home.css */
.root {
    display: flex;
  }
  
  .drawer {
    width: 240px;
    flex-shrink: 0;
  }
  
  .drawerPaper {
    width: 240px;
    background-color: #2C3E50;
    color: #fff;
  }
  
  .appBar {
    width: calc(100% - 240px);
    margin-left: 240px;
    background-color: #2C3E50;
  }
  
  .title {
    flex-grow: 1;
  }
  
  .content {
    flex-grow: 1;
    padding: 24px;
    background-color: #34495E;
    min-height: 100vh;
  }
  
  .toolbar {
    min-height: 64px; /* Adjust according to your AppBar height */
  }
  
  .card {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
  }
  
  .products {
    background-color: #3498DB;
  }
  
  .categories {
    background-color: #E67E22;
  }
  
  .customers {
    background-color: #2ECC71;
  }
  
  .alerts {
    background-color: #E74C3C;
  }
  