/* Home.css (or relevant CSS file) */
.root {
  background-color: #2C3E50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 24px;
}

.drawer {
  width: 190px;
  flex-shrink: 0;
  background-color: #2C3E50;
}

.drawerPaper {
  width: 15%;
  background-color: #2C3E50;
  color: #2C3E50;
}

.drawerTitle {
  color: #2C3E50;
  text-align: center;
  padding: 16px 0;
  font-weight: bold;
}

.toolbar {
  min-height: 64px;
}

.menuButton {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}

.content {
  flex-grow: 1;
  padding: 24px;
  background-color: #2C3E50;
  min-height: 100vh;
  overflow: hidden; /* Prevent scrolling */
  margin-left: 90px; /* Ensure this matches the drawer width */
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 16px;
  flex-direction: column;
  color: #2C3E50;
}

.cardTitle {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.persona {
  background-color: #3498DB;
}

.stock {
  background-color: #E67E22;
}

.tax {
  background-color: #2ECC71;
}

.revenue {
  background-color: #E74C3C;
}

.pieChartPaper, .barChartPaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  color: #2C3E50;
  margin-top: 16px;
}

/* Media Queries for Responsive Design */

@media (max-width: 960px) {
  .drawerPaper {
    width: 100%;
  }

  .content {
    margin-left: 0;
    padding: 16px;
  }

  .card {
    height: auto;
    padding: 16px;
    margin-bottom: 8px;
  }

  .tablePaper {
    padding: 8px;
  }

  .tableHeading {
    font-size: 1.2rem;
  }

  /* Add an overlay when the drawer is open on mobile */
  .MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 960px) {
  .pieChartPaper, .barChartPaper {
    margin-top: 16px;
  }
}

.tablePaper {
  margin-top: 16px;
  padding: 16px;
  background-color: #ffffff;
  color: #5b7692;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  overflow-x: auto; /* Ensure table is responsive */
}

.tableHeading {
  margin-bottom: 16px;
  color: #2C3E50;
  font-weight: bolder;
}


/* Enhanced table styling */
.MuiTableContainer-root {
  border-radius: 8px;
  overflow: hidden;
}

.MuiTableCell-head {
  background-color: #618ab1; /* Theme matching color */
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem; /* Make the text stand out more */
}

.MuiTableCell-body {
  color: #2C3E50;
}

.MuiTableRow-root:nth-of-type(odd) {
  background-color: #f9f9f9; /* Light shade for alternating rows */
}

.MuiTableRow-root:nth-of-type(even) {
  background-color: #dde6ef; /* White background for even rows */
}

.MuiTableRow-root:hover {
  background-color: #bdd9ef; /* Slightly darker shade on hover */
}

.tableContainer {
  display: flex;
  justify-content: center;
}

.tablePaper {
  width: 100%; /* Adjust width as needed */
  margin: 10 auto;
  margin-left: 80px;
}