/* Home.css */
.root {
  display: flex;
}

.drawer {
  width: 240px;
  flex-shrink: 0;
}

.drawerPaper {
  width: 240px;
  background-color: #1d69b5; /* Bright blue color */
  color: #fff;
}

.appBar {
  width: calc(100% - 240px);
  margin-left: 240px;
  background-color: #1d69b5; /* Bright blue color */
}

.title {
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  padding: 24px;
  background-color: #ffffff; /* White background */
  min-height: 100vh;
}

.toolbar {
  min-height: 64px; /* Adjust according to your AppBar height */
}

.card {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.products {
  background-color: #3498db; /* Adjust colors as needed */
}

.categories {
  background-color: #e67e22; /* Adjust colors as needed */
}

.customers {
  background-color: #2ecc71; /* Adjust colors as needed */
}

.alerts {
  background-color: #e74c3c; /* Adjust colors as needed */
}