.root {
  display: flex;
}

.appBar {
  width: 100%;
  z-index: 1100; /* Ensure AppBar is above drawer */
}

.content {
  flex-grow: 1;
  padding: 24px;
  background-color: #34495E;
  min-height: 100vh;
}

.toolbar {
  min-height: 64px; /* Adjust according to your AppBar height */
}

.paper {
  padding: 20px;
  background-color: #fff;
}